
p{color: pink;
      font-weight: bold;}
.ho{
 color: black;
}
.th{color: rgb(150, 27, 74);
font-size: 20px;}
div+cite{background-color: rgb(140, 140, 225);}
.o::first-letter{color: rgb(255, 4, 4);font-size: 250%;}
.o{color: rgb(255, 4, 4);
  font-size: 30px;}
::marker{color:rgb(179, 158, 255);font-size: 20px;}
a:link{
    color:rgb(81, 42, 165)
  }
a:visited{color: brown;}

a:hover{color: rgb(0, 119, 255);}

a:active{color: rgb(144, 226, 43);}

span i:first-child{color: rgb(255, 217, 94);}
[class*='po']{background:orange;}
[class$='tue']{background:rgb(208, 99, 241);}
[class^='936']{background:rgb(99, 118, 241);}
[class|='top']{background:rgb(127, 99, 241);}
div{background-color: green;}
div.first{opacity:0.1;}
div.second{opacity:0.3;}
div.third{opacity:0.6;}
div.forth{opacity:1;}
.backimg{
  background-image:url("../down.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 300px;
  background-attachment: fixed;
  background-size: 100%;
  
}
.dotted{
  border: 5px dotted black;
}
p.dashed{outline-style: dashed;}
p.solid{outline-style: solid;}
p.double{outline-style: double;}
p.groove{outline-style: groove;}
p.ridge{outline-style: ridge;}