html{
  box-sizing: border-box;
  margin:0 auto;
  padding:0 ;
  overflow-x: hidden;
  font-family: "Noto Serif TC", serif;
  font-optical-sizing:auto;
  font-weight: 600;
  font-style: normal;
}

#background-img{
  z-index: -1;
  position: fixed;
  width: 100%;

}
#first{
  padding-top: 20%;
}

.right-button{
  background-color: #41485f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
#title{
  width:101%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.881);
  padding-bottom: 2.5%;
}

#title-content{
  margin-top: 6%;
  font-size: 1rem;
  line-height: 0.8;
  letter-spacing: 1.5px;
  color: rgb(71,71,71);
}
#title-content2{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: rgb(71,71,71);
}
#imgbox{
  margin-top: -8%;
  margin-left: 10%;
  width:27%;
}

#imgbox img{
  width: 100%;
}

#intro-box{
  color: rgb(71, 71, 71);
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 5%;
}

#intro-title{
  margin-top: 25px;
  font-size: 5rem;
  font-weight: 900;
}

#intro-title a {
    text-decoration: none; 
    font-size: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}


#intro-content{
  font-size: 2rem;
  font-weight: 700;
}
#intro-content2{
  margin-top: 15px;
  font-size: 1.18rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

#second{
  width:101%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(64, 78, 97, 0.881);
  padding-bottom: 3%;
}

.left{
  padding-top: 10%;
  color: antiquewhite;
  font-size: 5rem;
  padding-left: 10%;
  display: flex;
  align-self: center;
}

.right{
  padding-right: 5%;
  padding-top: 3%;
  color: rgb(255, 255, 255);
  width: 40%;
  font-size: 1.3rem;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1.5px;

}



